# * specifies devices list for searching for BackUp file
# * examples provided

#MTP devices
#YourDeviceName_MTP=...
MiNote3_MTP=mtp:host=Xiaomi_Mi_Note_3_d6bbc49f/Internal shared storage/

#FTP device - doesn't have to be mounted
#YourDeviceName_FTP=0.0.0.0 port
MiNote3_FTP=192.168.0.100 2221
RedmiVor_FTP=192.168.0.109 2221

